
<div id="wrapper" style="text-align: center">    
    <div id="yourdiv" style="display: inline-block;"><h1>Samples</h1></div>
</div>


<iframe src="https://drive.google.com/embeddedfolderview?id=0B5-zzdixzGyDdllVYnN0SEJIQms#list" align="middle" width="100%" height="550" frameborder="0"></iframe>