<div class="container text-center">
  <h2> Thanks for submitting your info.<br/> Our Ninjas will reach out to you shortly! </h2>
  <% flash.each do |key, value| %>
  <% end %>
  <%= link_to 'Back', root_path %>
</div>