<div id="about" class="container">
  <div class="row">
    <div class="col-sm-8">
      <h2>About Us</h2><br>
      <h4>Crawling Ninja is a DaaS (Data as a Service) tech startup that was founded in San Francisco on 2016 by two brothers:  <a href="https://www.linkedin.com/in/stungkit" target="_blank" id="linkedinlink">Smati</a>  & <a href="https://www.linkedin.com/in/stxts" target="_blank" id="linkedinlink">Songtham</a>. We specialize in crawling and scraping data.</h4><br>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>