<div id="services" class="container-fluid text-center">
  <h2>SERVICES</h2>
  <h4>Customize your Data Pipeline</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-import logo-small"></span>
      <h4>EXTRACT</h4>
      <p>We collect data from any source you specify.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-export logo-small"></span>
      <h4>TRANSFORM</h4>
      <p>We process the data to your needs.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-save logo-small"></span>
      <h4>LOAD</h4>
      <p>We deliver the results to you the way you want.</p>
    </div>
  </div><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-calendar logo-small"></span>
      <h4>SCHEDULE</h4>
      <ul class="service">
      <li>Start Time</li>
      <li>End Time</li>
      <li>Frequency</li>
      <li>Duration </li>
      <li>Field Specification</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"></span>
      <h4>CONTROL</h4>
      <ul class="service">
      <li>Scraping Rules</li>
      <li>Business Logic</li>
      <li>Data Cleansing</li>
      <li>Data Manipulation </li>
      <li>Data Unification</li>
      </ul>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"></span>
      <h4>DELIVER</h4>
      <ul class="service">
      <li>String Approximation</li>
      <li>Output (CSV, JSON, etc)</li>
      <li>Database Injection</li>
      <li>Email Alert </li>
      <li>Authentication</li>
      </ul>
    </div>
  </div>
</div>