<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <h2>Our Values</h2><br>
      <h4><strong>MISSION:</strong> Our mission is to get you the data that you need.</h4><br>
      <p><strong>VISION:</strong> Our vision is to automate the movement of data. We understand the tediousness that comes with manual data entry and the bottleneck that it can create for modern businesses. To solve this issue, we build sophisticated crawlers to streamline this time-consuming process. We are crawling ninjas afterall!</p>
    </div>
  </div>
</div>