<div class="jumbotron text-center">
  <div class="container-fluid" id="first">
  	<h1><strong>We Scrape. <br/> You Create.</strong></h1><br/>
  	<p><em>A fully managed data solutions service for businesses and individuals.</em></p><br/>
	  <a href="#contact" id="freeBtn" class="btn btn-primary btn-lg">Get Started</a>
  </div>
</div>