<div class="container-fluid welcome text-center">
<div class="container">
<div class="row">
<div class="col-md-12">
  <div class="jumbotron" id="first">
  	<h1><strong>WE SCRAPE. <br/> YOU CREATE.</strong></h1><br/>
  	<p><em>A fully managed data solutions service for businesses and individuals.</em></p><br/>
	  <a href="#contact" id="freeBtn" class="btn btn-primary btn-lg">Get Started</a>
  </div>
  </div>
  </div>
  </div>
</div>